<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Logging output patterns -->
    <property name="LOG_PATH" value="../logs/jobmate-test.log"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n"/>

    <!-- Console output settings -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Logging file output settings -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Async logging settings -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>32</queueSize>
        <neverBlock>true</neverBlock>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <!-- Logging levels -->
    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="ERROR"/>
    <logger name="org.springframework.web.servlet.PageNotFound" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="cn.edu.zju.cs.jobmate" level="DEBUG"/>

</configuration>
